extends ./layout/app

block scripts
    script(src='/js/jspdf.min.js')
    script(src='/js/app2.js')

block content
        .container.mt-4
            .row
                .col-md-8.offset-md-2
                    h3
                        | FORMULARIO DE SOLICITUD DE
                        | BAJA DE DOCUMENTOS
                    h5
                        | FORMULARIO NO. INGECOP-SALF-5001
                    hr
                    h5
                        | SECCI&Oacute;N DE AUTORIZACI&Oacute;N DE LIBROS Y FORMAS
                    form#form
                        .row.mb-3
                            .col-md-6
                                label.form-label(for='lugar') Lugar
                                select#lugar.form-control(name='proceso')
                                    option(value='-1', selected='', disabled='') Seleccione...
                                    option(value='Guatemala') Guatemala
                                    option(value='Quetzaltenango') Quetzaltenango
                                    option(value='Huehuetenango') Huehuetenango
                                    option(value='Coban, Altaverapaz') Coban, Altaverapaz
                                    option(value='Flores, Petén') Flores, Pet&eacute;n
                            .col-md-6
                                label.form-label(for='fecha') Fecha
                                input#fecha.form-control(type='date')
                        .mb-3
                            label.form-label(for='cop') Nombre de la Cooperativa o federaci&oacute;n
                            input#cop.form-control(type='text')
                        .row.mb-3
                            .col-md-6
                                label.form-label(for='dire') Direcci&oacute;n
                                input#dire.form-control(type='text')
                            .col-md-6
                                label.form-label(for='nit') Número de Identificacion Tributaria 
                                input#nit.form-control(type='text')
                        .row.mb-3
                            .col-md-6
                                label.form-label(for='rl') Representante Legal
                                input#rl.form-control(type='text')
                            .col-md-6
                                label.form-label(for='tel') Télefono / Linea Fija / Celular
                                input#tel.form-control(type='text')
                        .mb-3
                            label.form-label(for='cor') Correo Electrónico / E-mail
                            input#cor.form-control(type='text')
                        hr
                        hr
                        h3 SOLICITUD DE BAJA DE LIBROS
                        hr
                        h5 INGRESE LIBRO #1
                        .row.d-md-3
                            .col-md-4
                                label.form-label(for='lb1') LIBRO
                                input#lb1.form-control(type='text')
                            .col-md-4
                                label.form-label(for='nr1') No. Resolución
                                input#nr1.form-control(type='text')
                            .col-md-2
                                label.form-label(for='m1') Manual
                                input#m1.form-control(type='')
                            .col-md-2
                                label.form-label(for='hm1') Hoja M&oacute;vil
                                input#p1.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Finalización
                                input#p2.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Extrav&iacute;o
                                input#p3.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Robo
                                input#p4.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Cambio 
                                input#p5.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Otros 
                                input#ot.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Del
                                input#p6.form-control(type='text', maxlength="7")
                            .col-md-2
                                label.form-label(for='veinte') Al
                                input#p7.form-control(type='text', maxlength="7")
                        hr
                        h5 INGRESE LIBRO #2
                        .row.d-md-3
                            .col-md-4
                                label.form-label(for='libroacta') LIBRO
                                input#p8.form-control(type='text')
                            .col-md-4
                                label.form-label(for='numacta') No. Resolución
                                input#p9.form-control(type='text')
                            .col-md-2
                                label.form-label(for='veinte') Manual
                                input#p10.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Hoja M&oacute;vil
                                input#p11.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Finalización
                                input#p12.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Extrav&iacute;o
                                input#p13.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Robo
                                input#p14.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Cambio 
                                input#p15.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Otros 
                                input#ot2.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Del
                                input#p16.form-control(type='text', maxlength="7")
                            .col-md-2
                                label.form-label(for='veinte') Al
                                input#p17.form-control(type='text', maxlength="7")
                        hr
                        h5 INGRESE LIBRO #3
                        .row.d-md-3
                            .col-md-4
                                label.form-label(for='libroacta') LIBRO
                                input#p18.form-control(type='text')
                            .col-md-4
                                label.form-label(for='numacta') No. Resolución
                                input#p19.form-control(type='text')
                            .col-md-2
                                label.form-label(for='veinte') Manual
                                input#p20.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Hoja M&oacute;vil
                                input#p21.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Finalización
                                input#p22.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Extrav&iacute;o
                                input#p23.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Robo
                                input#p24.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Cambio 
                                input#p25.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Otros 
                                input#ot3.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Del
                                input#p26.form-control(type='text', maxlength="7")
                            .col-md-2
                                label.form-label(for='veinte') Al
                                input#p27.form-control(type='text', maxlength="7")
                        hr
                        h5 INGRESE LIBRO #4
                        .row.d-md-3
                            .col-md-4
                                label.form-label(for='libroacta') LIBRO
                                input#p28.form-control(type='text')
                            .col-md-4
                                label.form-label(for='numacta') No. Resolución
                                input#p29.form-control(type='text')
                            .col-md-2
                                label.form-label(for='veinte') Manual
                                input#p30.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Hoja M&oacute;vil
                                input#p31.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Finalización
                                input#p32.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Extrav&iacute;o
                                input#p33.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Robo
                                input#p34.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Cambio 
                                input#p35.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Otros 
                                input#ot4.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Del
                                input#p36.form-control(type='text', maxlength="7")
                            .col-md-2
                                label.form-label(for='veinte') Al
                                input#p37.form-control(type='text', maxlength="7")
                        hr
                        h3 SOLICITUD DE BAJA DE FORMAS CONTABLES
                        hr
                        h5 INGRESE FORMA #1
                        .row.d-md-3
                            .col-md-4
                                label.form-label(for='libroacta') Forma
                                input#p38.form-control(type='text')
                            .col-md-4
                                label.form-label(for='numacta') No. Resolución
                                input#p39.form-control(type='text')
                            .col-md-2
                                label.form-label(for='veinte') Manual
                                input#p40.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Computarizado
                                input#p41.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Electrónico
                                input#p42.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Extrav&iacute;o
                                input#p43.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Robo
                                input#p44.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Cambio 
                                input#p45.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Otros 
                                input#p46.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Del
                                input#p47.form-control(type='text', maxlength="7")
                            .col-md-2
                                label.form-label(for='veinte') Al
                                input#p48.form-control(type='text', maxlength="7")
                        hr
                        h5 INGRESE FORMA #2
                        .row.d-md-3
                            .col-md-4
                                label.form-label(for='libroacta') Forma 
                                input#p49.form-control(type='text')
                            .col-md-4
                                label.form-label(for='numacta') No. Resolución
                                input#p50.form-control(type='text')
                            .col-md-2
                                label.form-label(for='veinte') Manual
                                input#pp1.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Computarizado
                                input#pp2.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Electrónico
                                input#pp3.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Extrav&iacute;o
                                input#pp4.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Robo
                                input#pp5.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Cambio 
                                input#pp6.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Otros 
                                input#pp7.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Del
                                input#pp8.form-control(type='text', maxlength="7")
                            .col-md-2
                                label.form-label(for='veinte') Al
                                input#pp9.form-control(type='text', maxlength="7")
                        hr
                        h5 INGRESE FORMA #3
                        .row.d-md-3
                            .col-md-4
                                label.form-label(for='libroacta') Forma
                                input#pp10.form-control(type='text')
                            .col-md-4
                                label.form-label(for='numacta') No. Resolución
                                input#pp11.form-control(type='text')
                            .col-md-2
                                label.form-label(for='veinte') Manual
                                input#pp12.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Computarizado
                                input#pp13.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Electrónico
                                input#pp14.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Extravio
                                input#pp15.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Robo
                                input#pp16.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Cambio 
                                input#pp17.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Otros 
                                input#pp18.form-control(type='')
                            .col-md-2
                                label.form-label(for='veinte') Del
                                input#pp19.form-control(type='text', maxlength="7")
                            .col-md-2
                                label.form-label(for='veinte') Al
                                input#pp20.form-control(type='text', maxlength="7")
                        hr
                        hr
                        hr
                        span.d-block.pb-2 Firma digital aqui
                        .signature.mb-2(style='width: 100%; height: 200px;')
                            canvas#signature-canvas(style='border: 1px dashed red; width: 100%; height: 200px; background-color: white;')
                        button.btn.btn-primary.mb-4(type='submit') Generar PDF
