extends ./layout/app

block scripts
    script(src='/js/jspdf.min.js')
    script(src='/js/app3.js')

block content
        .container.mt-4
            .row
                .col-md-8.offset-md-2
                    h3
                        | FORMULARIO PARA ENTREGA DE MEMORIA
                        | DE LABORES
                    h5
                        | FORMULARIO NO. INGECOP-SALF-5003
                    hr
                    h5
                        | SECCI&Oacute;N DE AUTORIZACI&Oacute;N DE LIBROS Y FORMAS
                    h6
                        | 1 - LISTADO DE REQUISITOS DE MEMORIA DE LABORES
                    form#form
                        .row.mb-3
                            .col-md-6
                                label.form-label(for='lugar') Lugar
                                select#lugar.form-control(name='proceso')
                                    option(value='-1', selected='', disabled='') Seleccione...
                                    option(value='Guatemala') Guatemala
                                    option(value='Quetzaltenango') Quetzaltenango
                                    option(value='Huehuetenango') Huehuetenango
                                    option(value='Coban, Altaverapaz') Coban, Altaverapaz
                                    option(value='Flores, Petén') Flores, Pet&eacute;n
                            .col-md-6
                                label.form-label(for='fecha') Fecha
                                input#fecha.form-control(type='date', maxlength="10")
                        .mb-3
                            label.form-label(for='cop')
                                | Nombre Completo de la
                                | Cooperativa o Federacion
                            input#cop.form-control(type='text', maxlength="150")
                        .row.mb-3
                            .col-md-6
                                label.form-label(for='dom') Direcci&oacute;n
                                input#dom.form-control(type='text', maxlength="150")
                            .col-md-6
                                label.form-label(for='nit') Número de Identificación Tributaria 
                                input#nit.form-control(type='text', maxlength="30")
                        .row.mb-3
                            .col-md-6
                                label.form-label(for='rl') Representante Legal
                                input#rl.form-control(type='text', maxlength="150")
                            .col-md-6
                                label.form-label(for='tel') Teléfono / Linea Fija / Celular
                                input#tel.form-control(type='text', maxlength="30")
                        .mb-3
                            label.form-label(for='cor') Correo Electrónico / E-mail
                            input#cor.form-control(type='text', maxlength="30")
                        hr
                        h5 FORMA DE ENTREGA DE MEMORIA DE LABORES
                        h6 MARCAR CON UNA &quot;X&quot;
                        .row.d-md-3
                            .col-md-3
                                label.form-label(for='fi') FISICA
                                input#fi.form-control.option(type='text', maxlength="1")
                            .col-md-3
                                label.form-label(for='cd') CD
                                input#cd.form-control.option(type='text', maxlength="1")
                            .col-md-3
                                label.form-label(for='em') E-MAIL
                                input#em.form-control.option(type='', maxlength="1")
                            .col-md-3
                                label.form-label(for='us') USB
                                input#us.form-control.option(type='', maxlength="1")
                        hr
                        hr
                        h6 MARCAR CON UNA &quot;X&quot; - ENTREGAR LA SIGUIENTE DOCUMENTACI&Oacute;N: 
                        table(border='0')
                            tbody
                                tr
                                    td(width='200px')
                                        | 1.1 Formulariode Actualizaci&oacute;nde Datos INGECOP-SALF-5004
                                    td(width='10%')
                                        input#sp.form-control(type='', maxlength="1")
                        hr
                        hr
                        h5 2) INFORMACI&Oacute;N LEGAL Y ADMINISTRATIVA: 
                        h6 MARCAR CON UNA &quot;X&quot;
                        table(border='0')
                            tbody
                                tr
                                    td(width='200px')
                                        | 2.1 Convocatoria de Asamblea General Ordinaria Anual
                                    td(width='10%')
                                        input#p1.form-control(type='', maxlength="1")
                                tr
                                    td(width='200px')
                                        | 2.2 Agenda de Asamblea General Ordinaria Anual
                                    td(width='10%')
                                        input#p2.form-control(type='', maxlength="1")
                                tr
                                    td(width='200px')
                                        | 2.3 Certificaci&oacute;n de Acta de Asamblea General Anual
                                    td(width='10%')
                                        input#p3.form-control(type='', maxlength="1")
                                tr
                                    td(width='200px')
                                        | 2.4 Certificaci&oacute;n de Asociados por G&eacute;nero (Aplica solo para Cooperativas de Primer Grado NO LISTADO)
                                    td(width='10%')
                                        input#p4.form-control(type='', maxlength="1")
                                tr
                                    td(width='200px')
                                        | 2.4.1 Federaciones: Lista de Cooperativas
                                    td(width='10%')
                                        input#p5.form-control(type='', maxlength="1")
                                tr
                                    td(width='200px')
                                        | 2.5 Registro Tributario Unificado (RTU) de la Cooperativa ACTUALIZADO
                                    td(width='10%')
                                        input#p6.form-control(type='', maxlength="1")
                                tr
                                    td(width='200px')
                                        | 2.6 Registro Tributario Unificado (RTU) del Contador ACTUALIZADO
                                    td(width='10%')
                                        input#p7.form-control(type='', maxlength="1")
                                tr
                                    td(width='200px')
                                        | 2.7 Informe del Consejo de Administraci&oacute;n
                                    td(width='10%')
                                        input#p8.form-control(type='', maxlength="1")
                                tr
                                    td(width='200px')
                                        | 2.8 Informe de la Comisi&oacute;n de Vigilancia
                                    td(width='10%')
                                        input#p9.form-control(type='', maxlength="1")
                                tr
                                    td(width='200px')
                                        | 2.9 Informe de Otros Comit&eacute;s (Comit&eacute; de Cr&eacute;ditos, Educaci&oacute;n, etc.) y sellado por el Comit&eacute;. (si Aplica)
                                    td(width='10%')
                                        input#p10.form-control(type='', maxlength="1")
                        hr
                        hr
                        h5 3) INFORMACI&Oacute;N CONTABLE 
                        h6 MARCAR CON UNA &quot;X&quot;
                        table(border='0')
                            tbody
                                tr
                                    td(width='200px')
                                        | 3.1 Estado de Situaci&oacute;n Financiera (Balance General)
                                    td(width='10%')
                                        input#p11.form-control(type='', maxlength="1")
                                tr
                                    td(width='200px')
                                        | 3.2 Estado de Resultados
                                    td(width='10%')
                                        input#p12.form-control(type='', maxlength="1")
                                tr
                                    td(width='200px')
                                        | 3.3 Estado de Cambio en el Patrimonio
                                    td(width='10%')
                                        input#p13.form-control(type='', maxlength="1")
                                tr
                                    td(width='200px')
                                        | 3.4 Estado de Flujos de Efectivo
                                    td(width='10%')
                                        input#p14.form-control(type='', maxlength="1")
                                tr
                                    td(width='200px')
                                        | 3.5 Notas a los Estados Financieros
                                    td(width='10%')
                                        input#p15.form-control(type='', maxlength="1")
                                tr
                                    td(width='200px')
                                        | 3.6 Dictamen de la Comisi&oacute;n de Vigilancia con firma y sello
                                    td(width='10%')
                                        input#p16.form-control(type='', maxlength="1")
                                tr
                                    td(width='200px')
                                        | 3.7 Presupuesto de Ingresos y Egresos para el per&iacute;odo a iniciar
                                    td(width='10%')
                                        input#p17.form-control(type='' maxlength="1")
                                tr
                                    td(width='200px')
                                        | 3.8 Plan de Trabajo para el per&iacute;odo a iniciar 
                                    td(width='10%')
                                        input#p18.form-control(type='' maxlength="1")
                        hr
                        span.d-block.pb-2 Firma digital aqui
                        .signature.mb-2(style='width: 100%; height: 200px;')
                            canvas#signature-canvas(style='border: 1px dashed red; width: 100%; height: 200px; background-color: white;')
                        button.btn.btn-primary.mb-4(type='submit') Generar PDF

        script.
          const options = document.querySelectorAll('.option')

          options.forEach((option, index) => {
            option.addEventListener('input', (e) => {
              updateInputs(index, "")
            })
          })

          function updateInputs(activeIndex, number) {
              var inputValue = document.querySelectorAll(`.option${number}`)[activeIndex].value;

              document.querySelectorAll(`.option${number}`).forEach(function(input, index) {
                  if (index !== activeIndex) {
                      input.value = '';
                  }
              });
          }

