extends ./layout/app

block scripts
    script(src='/js/jspdf.min.js')
    script(src='/js/app6.js')

block content
    .container.mt-4
        .row
            .col-md-8.offset-md-2
                h3 Certificación de Asociados Constituidos en la Cooperativa
                hr
                form#form
                    .mb-3
                        label.form-label(for='cop') Nombre de la Cooperativa
                        input#cop.form-control(type='text', maxlength='150', placeholder='Ingrese el nombre de la cooperativa')
                    .mb-3
                        label.form-label(for='certi') Certifica que el total de asociados es de:
                        input#certi.form-control(type='text', maxlength='150', placeholder='Total de asociados')
                    hr
                    h3 Suma de Generos
                    .row.d-md-3
                        .col-md-4
                            label.form-label(for='gm') Mujeres
                            input#gm.form-control(type='text', , data-id="1")
                        .col-md-4
                            label.form-label(for='gh') Hombre
                            input#gh.form-control(type='text', , data-id="1")
                        .col-md-4
                            label.form-label(for='tg') Total
                            input#tg.form-control.form-total(type='text', , data-id="1")
                    hr
                    h3 Suma de Rangos de edad
                    .row.d-md-3
                        .col-md-4
                            label.form-label(for='menor') De 0 a 12 años
                            input#menor.form-control(type='text', , placeholder='niñez', data-id="2")
                        .col-md-4
                            label.form-label(for='juv') De 13 a 30 años
                            input#juv.form-control(type='text', , placeholder='juventud', data-id="2")
                        .col-md-4
                            label.form-label(for='adul') De 31 a 60 años
                            input#adul.form-control(type='text', , placeholder='adultos', data-id="2")
                        .col-md-4
                            label.form-label(for='teredad') Mayores a 60 años
                            input#teredad.form-control(type='text', , placeholder='tercera edad', data-id="2")
                        .col-md-4
                            label.form-label(for='tedad') Total
                            input#tedad.form-control.form-total(type='text', , placeholder='total', data-id="2")
                    
                    hr
                    h3 Suma de Grupos Étnicos
                    .row.d-md-3
                        .col-md-4
                            label.form-label(for='maya') Maya
                            input#maya.form-control(type='text', , data-id="3")
                        .col-md-4
                            label.form-label(for='xinca') Xinca
                            input#xinca.form-control(type='text', , data-id="3")
                        .col-md-4
                            label.form-label(for='gari') Garifuna
                            input#gari.form-control(type='text', , data-id="3")
                        .col-md-4
                            label.form-label(for='mesti') Mestizo
                            input#mesti.form-control(type='text', , data-id="3")
                        .col-md-4
                            label.form-label(for='otro') Otro
                            input#otro.form-control(type='text', , data-id="3")
                        .col-md-4
                            label.form-label(for='tetnico') Total
                            input#tetnico.form-control.form-total(type='text', , placeholder='total', data-id="3")
                    hr
                    h3 CONSEJO DE ADMINISTRACIÓN
                    .container.px-4
                        .row.gx-3
                            .col-2
                                h5 Presidente
                                label.form-label(for='capresim') Mujer
                                input#capresim.form-control.option(type='text', )
                            .col-2
                                h5 &nbsp
                                label.form-label(for='capresiv') Hombre
                                input#capresiv.form-control.option(type='text', )
                            .col-2
                                h5 VicePresidente
                                label.form-label(for='cavicepm') Mujer
                                input#cavicepm.form-control.option2(type='text', )
                            .col-2
                                h5 &nbsp
                                label.form-label(for='cavicepv') Hombre
                                input#cavicepv.form-control.option2(type='text', )
                            .col-2
                                h5 Secretario/a
                                label.form-label(for='casecrem') Mujer
                                input#casecrem.form-control.option3(type='text', )
                            .col-2
                                h5 &nbsp
                                label.form-label(for='casecrev') Hombre
                                input#casecrev.form-control.option3(type='text', )
                    hr
                    .container.px-4
                        .row.gx-3
                            .col-2
                                h5 Tesorero
                                label.form-label(for='catesom') Mujer
                                input#catesom.form-control.option4(type='text', )
                            .col-2
                                h5 &nbsp
                                label.form-label(for='catesov') Hombre
                                input#catesov.form-control.option4(type='text', )
                            .col
                                h5 Vocal I
                                label.form-label(for='cavocalm') Mujer
                                input#cavocalm.form-control.option5(type='text', )
                            .col-2
                                h5 &nbsp
                                label.form-label(for='cavocalv') Hombre
                                input#cavocalv.form-control.option5(type='text', )
                            .col
                                h5 Vocal II
                                label.form-label(for='cavocallm') Mujer
                                input#cavocallm.form-control.option6(type='text', )
                            .col-2
                                h5 &nbsp
                                label.form-label(for='cavocallv') Hombre
                                input#cavocallv.form-control.option6(type='text', )
                    hr
                    .container.px-4
                        .row.gx-3
                            .col-2
                                h5 Otro
                                label.form-label(for='caotrom') Mujer
                                input#caotrom.form-control.option7(type='text', )
                            .col-2
                                h5 &nbsp
                                label.form-label(for='caotrov') Hombre
                                input#caotrov.form-control.option7(type='text', ,)
                    hr
                    h3 COMISIÓN DE VIGILANCIA
                    .container.px-4
                        .row.gx-3
                            .col-2
                                h5 Presidente
                                label.form-label(for='cvpresim') Mujer
                                input#cvpresim.form-control.option8(type='text', )
                            .col-2
                                h5 &nbsp
                                label.form-label(for='cvpresiv') Hombre
                                input#cvpresiv.form-control.option8(type='text', )
                            .col-2
                                h5 Secretario/a
                                label.form-label(for='cvsecrem') Mujer
                                input#cvsecrem.form-control.option9(type='text', )
                            .col-2
                                h5 &nbsp
                                label.form-label(for='cvsecrev') Hombre
                                input#cvsecrev.form-control.option9(type='text', )
                            .col-2
                                h5 Vocal
                                label.form-label(for='cvvocam') Mujer
                                input#cvvocam.form-control.option10(type='text', )
                            .col-2
                                h5 &nbsp
                                label.form-label(for='cvvocav') Hombre
                                input#cvvocav.form-control.option10(type='text', )
                            .col-2
                                h5 Otro
                                label.form-label(for='cvotrom') Mujer
                                input#cvotrom.form-control.option11(type='text', )
                            .col-2
                                h5 &nbsp
                                label.form-label(for='cvotrov') Hombre
                                input#cvotrov.form-control.option11(type='text', )
                    hr       
                    h5 Nombre para la Firma
                    .mb-3
                        label.form-label(for='nom') Nombre(s) y Apellido(s)
                        input#nom.form-control(type='text', )

                    span.d-block.pb-2 Firma digital aqui
                    .signature.mb-2(style='width: 100%; height: 200px;')
                        canvas#signature-canvas(style='border: 4px dashed rgb(228, 225, 38); width: 100%; height: 200px; background-color: white;')
                        button(type='reset') Limpiar firma
                    button.btn.btn-primary.mb-4(type='submit') Generar PDF
    script.
        // Set the inactivity timeout in milliseconds (15 seconds)
        const inactivityTimeout = 300000; // 15 seconds
        let timeoutId;
        // Function to reset the timeout
        function resetTimeout() {
        clearTimeout(timeoutId);
        timeoutId = setTimeout(redirectToMainPage, inactivityTimeout);
        }
        // Function to redirect to the main page
        function redirectToMainPage() {
          window.location.href = "/"; // Replace with the URL of your main page
        }
        // Reset the timeout whenever there is user activity
        window.addEventListener("mousemove", resetTimeout);
        window.addEventListener("keydown", resetTimeout);
        // Initial setup of the timeout
        resetTimeout();

        const options = document.querySelectorAll('.option')
        const options2 = document.querySelectorAll('.option2')
        const options3 = document.querySelectorAll('.option3')
        const options4 = document.querySelectorAll('.option4')
        const options5 = document.querySelectorAll('.option5')
        const options6 = document.querySelectorAll('.option6')
        const options7 = document.querySelectorAll('.option7')
        const options8 = document.querySelectorAll('.option8')
        const options9 = document.querySelectorAll('.option9')
        const options10 = document.querySelectorAll('.option10')
        const options11 = document.querySelectorAll('.option11')

        options.forEach((option, index) => {
          option.addEventListener('input', (e) => {
            updateInputs(index, "")
          })
        })

        options2.forEach((option, index) => {
          option.addEventListener('input', (e) => {
            updateInputs(index, "2")
          })
        })

        options3.forEach((option, index) => {
          option.addEventListener('input', (e) => {
            updateInputs(index, "3")
          })
        })
        options4.forEach((option, index) => {
          option.addEventListener('input', (e) => {
            updateInputs(index, "4")
          })
        })
        options5.forEach((option, index) => {
          option.addEventListener('input', (e) => {
            updateInputs(index, "5")
          })
        })
        options6.forEach((option, index) => {
          option.addEventListener('input', (e) => {
            updateInputs(index, "6")
          })
        })
        options7.forEach((option, index) => {
          option.addEventListener('input', (e) => {
            updateInputs(index, "7")
          })
        })
        options8.forEach((option, index) => {
          option.addEventListener('input', (e) => {
            updateInputs(index, "8")
          })
        })
        options9.forEach((option, index) => {
          option.addEventListener('input', (e) => {
            updateInputs(index, "9")
          })
        })
        options10.forEach((option, index) => {
          option.addEventListener('input', (e) => {
            updateInputs(index, "10")
          })
        })
        options11.forEach((option, index) => {
          option.addEventListener('input', (e) => {
            updateInputs(index, "11")
          })
        })

        function updateInputs(activeIndex, number) {
            var inputValue = document.querySelectorAll(`.option${number}`)[activeIndex].value;

            document.querySelectorAll(`.option${number}`).forEach(function(input, index) {
                if (index !== activeIndex) {
                    input.value = '';
                }
            });
        }

