doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title INGECOP - Asistencia
        link(rel='icon', type='image/jpg', href='images/logo2 - copia.png')
        link(rel='stylesheet', href='css/estilo_contacto.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    body
        .container
            .card
                .left-column.background1-left-column
                    h6 Asistencia
                    h2 Asistencia
                    i.fa.fa-phone
                .right-column
                    h2 Solicitar personal de libros y formas
                    h4 Te podemos ayudar en:
                    div
                    p &bull; Ingreso de formaci&oacute;n formularios (5001, 5002, 5003, 5004, 5005).
                    p &bull; Autorizaci&oacute;n de registros y formulas contables.
                    p &bull; Requisitos para entrega de n&oacute;mina de Cuadros Directivos.
                    a#link(href='https://us06web.zoom.us/j/88952740101?pwd=a2RSV28wbHJjRWtRL2xpMXNLQzJxdz09')
                        button.button.background1-left-column LLAMAR
            .card
                .left-column.background2-left-column
                    h6 Asistencia
                    h2 Asistencia
                    i.fa.fa-video-camera(aria-hidden='true')
                .right-column
                    h2 Solicitar personal de vigilancia y alerta temprana
                    h4 Te podemos ayudar en:
                    div
                    p &bull; Ingreso de informaci&oacute;n herramienta Nivel 1.
                    p &bull; Ingreso de informaci&oacute;n de encuesta
                    p &bull; Ingreso de informaci&oacute;n de indicadores financieros
                    a#link(href='https://us06web.zoom.us/j/88952740101?pwd=a2RSV28wbHJjRWtRL2xpMXNLQzJxdz09')
                        button.button.background2-left-column LLAMAR