extends ./layout/app2

block content
        header
            if forms
                each form in forms
                    include ./components/form
                    +form(form.title, form.url, form.type_url)