doctype html
html(lang="es")
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Kiosko Ingecop
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(rel='stylesheet' href='/css/normalize.css')
        link(rel='stylesheet' href='/css/estilo-login.css')
        link(rel='stylesheet' href='/css/botones2.css')
    body
        .contenedor-formulario.contenedor
            if type && type === 'video' && page.media !== ""
                .imagen-formulario
                    video(loop muted autoplay).video-formulario
                        source(src=`/public/${page.media}`, type="video/mp4")
            else if type === ''
                .imagen-formulario
            else 
                .imagen-formulario(style=`background-image: url('${page.media ? '/public/' + page.media : 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Santa_Catalina_Arch_-_Antigua_Guatemala_Feb_2020.jpg/1200px-Santa_Catalina_Arch_-_Antigua_Guatemala_Feb_2020.jpg'}')`)

            form.formulario
                .texto-formulario
                    h2 Bienvenido
                    center
                        if logo && logo.image !== ""
                            img(src=`/public/${logo.image}` style='width: 115px; height: 115px;')
                        else 
                            img(src='/images/logo2 - copia.png' style='width: 35%; ')
                        p Elige la opci&oacute;n para continuar
                        a.btn(href='/kiosko') INGRESAR AL MODO USUARIO
                        p(align=' center')
                        a.btn3(href='/contacto') MODO ASISTENCIA
                        a.btn3(href='/login') ADMINISTRADOR
