doctype html
html(lang="es")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='icon' type='image/jpg' href='/images/logo2 - copia.png')
        link(rel='stylesheet' href='css/kiosko.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        title INGECOP - Kiosko
    body
        .container
            h2
            section.services
                a#link(href='/contacto')
                    .card
                        .content
                            .icon
                                i.fa.fa-phone
                            .title Solicitar Asistencia
                            p Puedes solicitar Asistencia a un agente desde este bot&oacute;n
                a#link(href='formularios.html')
                    .card
                        .content
                            .icon
                                i.fa.fa-book
                            .title Libros y Formas
                            p Aqui encontrar&aacute;s los libros y formas para rellenar
                a#link(href='vatEncuesta.html')
                    .card
                        .content
                            .icon
                                i.fa.fa-pencil
                            .title VAT Encuesta
                            p Ac&aacute; puedes acceder a las encuestas de tu cooperativa
                a#link(href='http://190.99.117.234:9095/')
                    .card
                        .content
                            .icon
                                i.fa.fa-laptop
                            .title VAT Indicadores 
                            p Este Sistema de Indicadores es exclusiva para las cooperativas
                a#link(href='vat.html')
                    .card
                        .content
                            .icon
                                i.fa.fa-line-chart
                            .title VAT Herramienta nivel 1
                            p Accede a la herramienta Nivel 1 desde este bot&oacute;n
                a#link(href='http://google.com')
                    .card
                        .content
                            .icon
                                i.fa.fa-envelope
                            .title Correo Navegador
                            p Desde ac&aacute; puedes acceder al navegador de Google
                a#link(href='https://portal.sat.gob.gt/portal/')
                    .card
                        .content
                            .icon
                                i.fa.fa-external-link
                            .title Portal SAT
                            p Accede al portal sat desde una nueva pesta&ntilde;a
                a#link(href='https://ingecop.gob.gt/')
                    .card
                        .content
                            .icon
                                i.fa.fa-globe
                            .title Plataforma Web
                            p Ac&aacute; puedes acceder a la plataforma Web de Ingecop
                a#link(href='/')
                    .card
                        .content
                            .icon
                                i.fa.fa-undo
                            .title Atras
                            p Regresa a la pantalla anterior para elegir otra opci&oacute;n