doctype html
html(lang="es")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='icon' type='image/jpg' href='/images/logo2 - copia.png')
        link(rel='stylesheet' href='css/kiosko.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        title INGECOP - Kiosko
    body(style=`background-image: url('${page && page.media ? '/public/' + page.media : 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Santa_Catalina_Arch_-_Antigua_Guatemala_Feb_2020.jpg/1200px-Santa_Catalina_Arch_-_Antigua_Guatemala_Feb_2020.jpg'}'); }`)
        .container
            h2
            section.services
                include ./components/card
                each kiosko in kioskos
                    +card(kiosko.icon, kiosko.title, kiosko.description, kiosko.url, kiosko.external, kiosko.color)
                a#link(href='/')
                    .card
                        .content
                            .icon
                                i.fa.fa-undo
                            .title Atras
                            p Regresa a la pantalla anterior para elegir otra opci&oacute;n