doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Login Principal
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
        link(rel='stylesheet', href='css/normalize.css')
        link(rel='stylesheet', href='css/estilo-login.css')
    body
        if message 
            .toast
                span=message

        .contenedor-formulario.contenedor
            if page
                if type && type === 'video'
                    .imagen-formulario
                        video(controls loop muted autoplay).video-formulario
                            source(src=`/public/${page.media}`)
                else if type === ''
                    .imagen-formulario
                else 
                    .imagen-formulario(style=`background-image: url('${page.media ? '/public/' + page.media : 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Santa_Catalina_Arch_-_Antigua_Guatemala_Feb_2020.jpg/1200px-Santa_Catalina_Arch_-_Antigua_Guatemala_Feb_2020.jpg'}')`)
            else
                .imagen-formulario
            form.formulario(method="POST")#login-form
                .texto-formulario
                    h2 Bienvenido
                    p Inicia sesi&oacute;n para continuar
                .input
                    label(for='usuario') Usuario
                    input#username(placeholder='Ingresa tu nombre', type='text', name="username")
                .input
                    label(for='contraseña') Contrase&ntilde;a
                    input#password(placeholder='Ingresa tu contraseña', type='password', name="password")
                .input
                    input(type='submit', value='Entrar')
