doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Login Principal
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
        link(rel='stylesheet', href='css/normalize.css')
        link(rel='stylesheet', href='css/estilo-login2.css')
        script(src='js/login.js')
    body
        .contenedor-formulario.contenedor
            .imagen-formulario
            form.formulario
                .texto-formulario
                    h2 Bienvenido
                    p Inicia sesi&oacute;n para continuar
                .input
                    label(for='usuario') Usuario
                    input#usuario(placeholder='Ingresa tu nombre', type='text')
                .input
                    label(for='contraseña') Contrase&ntilde;a
                    input(placeholder='Ingresa tu contraseña', type='password', id='contraseña')
                .input
                    input(type='button', value='Entrar', onclick='loguear()')