extends ./layout/probando
block content
    button(onclick='exportTables()') export
    table(data-excel-name='MOROSIDAD')
        thead
            tr
                th(colspan='2', ;='', style='background-color: #000000; text-align: center; color: rgb(255, 255, 255);')
                    h3
                        | DIEZ MAYORES CUENTAS DE PR&Eacute;STAMOS
            tr
                th(colspan='2', ;='', style='background-color: rgb(255, 255, 255); text-align: center; color:   rgb(255, 255, 255)')
            tr
                th(colspan='2', ;='', style='background-color: #000000; text-align: center; color: rgb(255, 255, 255);')
                    h3 Cantidad Total de Pr&eacute;stamos
        tbody
            tr
                th(style='text-align: center; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);') No. 
                th(style='text-align: center; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);') SALDO
        tfoot
            tr
                th(style='color: black;') 1
                td
                    input(type='text', value='')
            tr
                th(style='background-color: rgb(221, 221, 220); color: black;') 2
                td(style='background-color: rgb(221, 221, 220); color: black;')
                    input#txt_campo_1.monto(type='text', onkeyup='sumar();')
            tr
                th(style='color: black;') 3
                td(style='color: black;')
                    input#txt_campo_2.monto(type='text', onkeyup='sumar();')
            tr
                th(style='background-color: rgb(221, 221, 220); color: black;') 4
                td(style='background-color: rgb(221, 221, 220); color: black;')
                    input(type='text', value='')
            tr
                th(style='color: black;') 5
                td(style='color: black;')
                    input(type='text', value='')
            tr
                th(style='background-color: rgb(221, 221, 220); color: black;') 6
                td(style='background-color: rgb(221, 221, 220); color: black;')
                    input(type='text', value='')
            tr
                th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') TOTAL  
                td(style='background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);')
                    span
                    |  
                    span#spTotal
    table(data-excel-name='MOROSIDAD')
        thead
            tr
                th(colspan='2', ;='', style='background-color: #000000; text-align: center; color: rgb(255, 255, 255);')
                    h3
                        | DIEZ MAYORES CUENTAS DE PR&Eacute;STAMOS
            tr
                th(colspan='2', ;='', style='background-color: rgb(255, 255, 255); text-align: center; color:   rgb(255, 255, 255)')
            tr
                th(colspan='2', ;='', style='background-color: #000000; text-align: center; color: rgb(255, 255, 255);')
                    h3 Cantidad Total de Pr&eacute;stamos
        tbody
            tr
                th(style='text-align: center; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);') No. 
                th(style='text-align: center; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);') SALDO
        tfoot
            tr
                th(style='color: black;') 1
                td
                    input(type='text', value='')
            tr
                th(style='background-color: rgb(221, 221, 220); color: black;') 2
                td(style='background-color: rgb(221, 221, 220); color: black;')
                    input#txt_campo_1.monto(type='text', onkeyup='sumar();')
            tr
                th(style='color: black;') 3
                td(style='color: black;')
                    input#txt_campo_2.monto(type='text', onkeyup='sumar();')
            tr
                th(style='background-color: rgb(221, 221, 220); color: black;') 4
                td(style='background-color: rgb(221, 221, 220); color: black;')
                    input(type='text', value='')
            tr
                th(style='color: black;') 5
                td(style='color: black;')
                    input(type='text', value='')
            tr
                th(style='background-color: rgb(221, 221, 220); color: black;') 6
                td(style='background-color: rgb(221, 221, 220); color: black;')
                    input(type='text', value='')
            tr
                th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') TOTAL  
                td(style='background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);')
                    span
                    |  
                    span#spTotal