extends ./layout/probando
block content
    button(onclick='exportTables()') export
    table(data-excel-name='MOROSIDAD')
        thead
            tr
                th(colspan='4', ;='', style='background-color: rgb(57, 160, 74); text-align: center;')
                    h3 MONTO DE MOROSIDAD
            tr
                th(colspan='4', ;='', style='background-color: rgb(255, 255, 255); text-align: center; color: white;')
                    h3
            tr
                th(colspan='4', ;='', style='background-color: rgb(57, 160, 74); text-align: center;')
                    h3 Cantidad Total de Pr&eacute;stamos
            tr
                th(style='color: black;')
                    | Total de Pr&eacute;stamos a Colaboradores
                td
                    input(type='text', value='100')
                td
                    input(type='text', value='Q100.000.00')
                td
                    input(type='text', value='100%')
        tbody
            tr
                td(colspan='4', style='text-align: center; background-color: white; color: white;') Cantidad Total de Pr&eacute;stamos
            tr
                th(style='text-align: center; background-color: rgb(57, 160, 74);') Periodos de Morosidad
                th(style='text-align: center; background-color: rgb(57, 160, 74);') Cuentas en Morosidad
                th(style='text-align: center; background-color: rgb(57, 160, 74);') Cantidad en Quetzales
                th(style='text-align: center; background-color: rgb(57, 160, 74); border: 5px black;') Porcentaje
        tfoot
            tr
                th(style='color: black;') 31-90 D&Iacute;AS
                td
                    input(type='text', value='')
                td
                    input(type='text', value='Q')
                td(style='color: black;') 0.10%
            tr
                th(style='background-color: rgb(221, 221, 220); color: black;') 91-180 D&Iacute;AS
                td(style='background-color: rgb(221, 221, 220);')
                    input(type='text', value='')
                td(style='background-color: rgb(221, 221, 220);')
                    input(type='text', value='Q')
                td(style='background-color: rgb(221, 221, 220); color: black') 0.10%
            tr
                th(style='color: black;') 181-365 D&Iacute;AS
                td
                    input(type='text', value='')
                td
                    input(type='text', value='Q')
                td(style='color: black;') 0.30%
            tr
                th(style='background-color: rgb(221, 221, 220); color: black;') MAS DE 365 D&Iacute;AS
                td(style='background-color: rgb(221, 221, 220);')
                    input(type='text', value='')
                td(style='background-color: rgb(221, 221, 220);')
                    input(type='text', value='Q')
                td(style='background-color: rgb(221, 221, 220); color: black;') 0.80%
            tr
                th(style='color: black;') TOTAL
                td(style='background-color: rgb(57, 160, 74); color: white;') Q
                td(style='background-color: rgb(57, 160, 74); color: white;') Q
                td(style='background-color: rgb(57, 160, 74); color: white;') Q