doctype html
html(lang='es')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title INGECOP - Herramienta Nivel 1
        link(rel='icon', type='image/jpg', href='images/logo2 - copia.png')
        link(rel='stylesheet', href='/css/base.css')
        link(rel='stylesheet', href='/css/acordeon.css')
        link(rel='stylesheet', href='/css/botones2.css')
        script(src='/js/js/table2excel.js')
        script(src='/js/js/exceljs.min.js')
        script(src='/js/js/table2excel.core.js')
        link(rel='stylesheet', href='/css/estilo_formularios.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js')
        style.
            /* Styles for the modal */
            .modal {
                display: none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
            }
            .modal-content {
                background-color: #fff;
                margin: 10% auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%;
            }
            /* Styles for the form */
            form {
                display: flex;
                flex-direction: column;
            }
            label {
                font-weight: bold;
            }
            input, textarea {
                margin-bottom: 10px;
                padding: 5px;
                border: 1px solid #ccc;
            }
            /* Styles for the submit button */
            .submit-button {
                background-color: rgb(255, 175, 3);
                color: #fff;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
            }
            /* Close button style */
            .close {
                color: #888;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }
            .close:hover {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
        script.
            function exportTables () {
                new Table2Excel('table').export()
            }
        link(rel='icon', type='image/jpg', href='images/logo2 - copia.png')
        link(rel='stylesheet', href='css/estilo_formularios.css')
    body
        nav.nav
            input#nav__checkbox.nav__checkbox(type='checkbox', name='')
            label.nav__toggle(for='nav__checkbox')
                // Menu
                svg.menu(viewBox='0 0 448 512', width='100', title='bars')
                    path(d='M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z')
                // Close
                svg.close(viewBox='0 0 384 512', width='100', title='times')
                    path(d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z')
            ul.nav__menu
                li.menu__logo
                    a(href='/kiosko')
                        img(src='images/logo1.png', alt='')
                li
                    a(href='https://ingecop.gob.gt/wp-content/uploads/1669/19/Alerta-Temprana-nn.xlsm', target="_blank") Descarga la Herramienta de la Seccion Alerta Temprana 
                li
                    a(href='/contacto') Solicitar Asistencia
                li
                    a(href='/kiosko') Regresar
        center
        center
            table(data-excel-name='Nombre de la cooperativa')
                thead
                    tr
                        th(style='background-color: rgb(255, 175, 3); text-align: center; color: rgb(0, 0, 0);')
                            h3
                                | NOMBRE DE LA COOPERATIVA
                tbody
                    tr
                        td(style='text-align: center; background-color: #ffffff; ')
                            input(type='text', value='')
        center
            table(data-excel-name='Mayores cuentas de préstamos')
                thead
                    tr
                        th(colspan='2', ;='', style='background-color: rgb(255, 175, 3); text-align: center; color: rgb(0, 0, 0);')
                            h3
                                | DIEZ MAYORES CUENTAS DE PRESTAMOS
                    tr
                        th(colspan='2', ;='', style='background-color: #ffffff; text-align: center; color: rgb(0, 0, 0);')
                            h3 Cantidad Total de Prestamos
                tbody
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') No. 
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') SALDO
                tfoot
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 1
                        td(style='text-align: center; background-color: #ffffff;')
                            input#txt_campo_1.monto(type='text', onkeyup='sumar();')
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 2
                        td(style='background-color: rgb(255, 255, 255); color: black;text-align: center;')
                            input#txt_campo_2.monto(type='text', onkeyup='sumar();')
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 3
                        td(style='color: black; text-align: center; background-color: #ffffff;')
                            input#txt_campo_3.monto(type='text', onkeyup='sumar();')
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 4
                        td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                            input#txt_campo_4.monto(type='text', onkeyup='sumar();')
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 5
                        td(style='color: black; background-color: #ffffff; text-align: center;')
                            input#txt_campo_5.monto(type='text', onkeyup='sumar();')
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 6
                        td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                            input#txt_campo_6.monto(type='text', onkeyup='sumar();')
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 7
                        td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                            input#txt_campo_6.monto(type='text', onkeyup='sumar();')
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 8
                        td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                            input#txt_campo_6.monto(type='text', onkeyup='sumar();')
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 9
                        td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                            input#txt_campo_6.monto(type='text', onkeyup='sumar();')
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 10
                        td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                            input#txt_campo_6.monto(type='text', onkeyup='sumar();')
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') TOTAL  
                        td(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                            span
                            |  
                            span#spTotal
        |  
        center
            table(data-excel-name='Monto de Morosidad')
                thead
                    tr
                        th(colspan='4', ;='', style='background-color: rgb(255, 175, 3); text-align: center; color: #000000;')
                            h3 MONTO DE MOROSIDAD
                    tr
                        th(colspan='4', ;='', style='background-color: rgb(255, 255, 255); text-align: center; color: #000000;')
                            h3 Cantidad Total de Prestamos
                    tr
                        th(style='color: black; background-color: rgb(255, 255, 255);') TOTAL DE CUENTAS:
                        td(style='background-color: white; text-align: center;')
                            input(type='text')
                        td(style='background-color: white; text-align: center;')
                            input.tt(type='text', data-row="1")
                        td(style='background-color: white; text-align: center;')
                            input(type='text')
                tbody
                    tr
                        th(style='text-align: center; background-color: rgb(255, 175, 3); color: black;') Periodos de Morosidad
                        th(style='text-align: center; background-color: rgb(255, 175, 3);color: black;') Cuentas en Morosidad
                        th(style='text-align: center; background-color: rgb(255, 175, 3);color: black;') Cantidad en Quetzales
                        th(style='text-align: center; background-color: rgb(255, 175, 3); color: black;') Porcentaje
                tfoot
                    tr.r_calculate(data-id="1")
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 31-90 DIAS
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input#txt_campo2_6.monto2(type='text', onkeyup='sumar2();')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input#txt_campo2_6.monto3.monto-final(type='text', onkeyup='sumar3();', data-id="1", data-row="1")
                        td(style='background-color: white; text-align: center;')
                            input.percentage-final(type='text', data-id="1", disabled)
                    tr.r_calculate(data-id="2")
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 91-180 DIAS
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input#txt_campo2_6.monto2(type='text', onkeyup='sumar2();')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input#txt_campo2_6.monto3.monto-final(type='text', onkeyup='sumar3();', data-id="2", data-row="1")
                        td(style='background-color: white; text-align: center;')
                            input.percentage-final(type='text', data-id="2", disabled)
                    tr.r_calculate(data-id="3")
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 181-365 DIAS
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input#txt_campo2_6.monto2(type='text', onkeyup='sumar2();')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input#txt_campo2_6.monto3.monto-final(type='text', onkeyup='sumar3();' data-id="3", data-row="1")
                        td(style='background-color: white; text-align: center;')
                            input.percentage-final(type='text', value='', data-id="3", disabled)
                    tr.r_calculate(data-id="4")
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') MAS DE 365 DIAS
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input#txt_campo2_6.monto2(type='text', onkeyup='sumar2();')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input#txt_campo2_6.monto3.monto-final(type='text', onkeyup='sumar3();', data-id="4", data-row="1")
                        td(style='background-color: white; text-align: center;')
                            input.percentage-final(type='text', value='', data-id="4", disabled)
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') TOTAL
                        td(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                            span
                            |  
                            span#spTotal2
                        td(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                            span
                            |  
                            span#spTotal3
                        td(style='text-align: center; background-color: rgb(255, 175, 3); color: black;')
        |  
        center
            table(data-excel-name='Morosidad de Directivos')
                thead
                    tr
                        th(colspan='4', ;='', style='background-color: rgb(255, 175, 3); text-align: center; color: black;')
                            h3
                                | MONTO DE MOROSIDAD DE DIRECTIVOS
                    tr
                        th(colspan='4', ;='', style='background-color: rgb(255, 255, 255); text-align: center; color: black;')
                            h3 Cantidad Total de Pr&eacute;stamos
                    tr
                        th(style='color: black; background-color: white;')
                            | Total de Pr&eacute;stamos a Directivos
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input(type='text', value='')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input.tt(type='text', data-row="2")
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input(type='text')
                tbody
                    tr
                        th(style='background-color: rgb(255, 175, 3); text-align: center; color: black;') Periodos de Morosidad
                        th(style='background-color: rgb(255, 175, 3); text-align: center; color: black;') Cuentas en Morosidad
                        th(style='background-color: rgb(255, 175, 3); text-align: center; color: black;') Cantidad en Quetzales
                        th(style='background-color: rgb(255, 175, 3); text-align: center; color: black;') Porcentaje
                tfoot
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 31-90 DIAS
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input#txt_campo2_6.monto9(type='text', onkeyup='sumar9();')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input#txt_campo2_6.monto14.monto-final(type='text', onkeyup='sumar14();', data-id="5", data-row="2")
                        td(style='background-color: white; text-align: center;')
                            input.percentage-final(type='text', value='', data-id="5")
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 91-180 DIAS
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input#txt_campo2_6.monto9(type='text', onkeyup='sumar9();')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input#txt_campo2_6.monto14.monto-final(type='text', onkeyup='sumar14();', data-id="6", data-row="2")
                        td(style='background-color: white; text-align: center;')
                            input.percentage-final(type='text', value='', data-id="6")
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 181-365 DIAS
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input#txt_campo2_6.monto9(type='text', onkeyup='sumar9();')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input#txt_campo2_6.monto14.monto-final(type='text', onkeyup='sumar14();', data-id="7", data-row="2")
                        td(style='background-color: white; text-align: center;')
                            input.percentage-final(type='text', value='', data-id="7")
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') MAS DE 365 DIAS
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input#txt_campo2_6.monto9(type='text', onkeyup='sumar9();')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input#txt_campo2_6.monto14.monto-final(type='text', onkeyup='sumar14();', data-id="8", data-row="2")
                        td(style='background-color: white; text-align: center;')
                            input.percentage-final(type='text', value='', data-id="8")
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') TOTAL
                        td(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                            span
                            |  
                            span#spTotal9
                        td(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                            span
                            |  
                            span#spTotal14
                        td(style='text-align: center; background-color: rgb(255, 175, 3); color: black;')
        center
            table(data-excel-name='Morosidad de Empleados')
                thead
                    tr
                        th(colspan='4', ;='', style='background-color: rgb(255, 175, 3); text-align: center; color: black;')
                            h3
                                | MONTO DE MOROSIDAD DE EMPLEADOS
                    tr
                        th(colspan='4', ;='', style='background-color: rgb(255, 255, 255); text-align: center; color: black;')
                            h3 Cantidad Total de Pr&eacute;stamos
                    tr
                        th(style='color: black; background-color: white;')
                            | Total de Pr&eacute;stamos a Empleados
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input(type='text')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input.tt(type='text', data-row="3")
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input(type='text')
                tbody
                    tr
                        th(style='background-color: rgb(255, 175, 3); text-align: center; color: black;') Periodos de Morosidad
                        th(style='background-color: rgb(255, 175, 3); text-align: center; color: black;') Cuentas en Morosidad
                        th(style='background-color: rgb(255, 175, 3); text-align: center; color: black;') Cantidad en Quetzales
                        th(style='background-color: rgb(255, 175, 3); text-align: center; color: black;') Porcentaje
                tfoot
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 31-90 DIAS
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input.monto15(type='text', id='', onkeyup='sumar15();')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input.monto16.monto-final(type='text', id='', onkeyup='sumar16();', data-id="9", data-row="3")
                        td(style='background-color: white; text-align: center;')
                            input.percentage-final(type='text', value='', data-id="9")
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 91-180 DIAS
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input.monto15(type='text', id='', onkeyup='sumar15();')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input.monto16.monto-final(type='text', id='', onkeyup='sumar16();', data-id="10", data-row="3")
                        td(style='background-color: white; text-align: center;')
                            input.percentage-final(type='text', value='', data-id="10")
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 181-365 DIAS
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input.monto15(type='text', id='', onkeyup='sumar15();')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input.monto16.monto-final(type='text', id='', onkeyup='sumar16();', data-id="11", data-row="3")
                        td(style='background-color: white; text-align: center;')
                            input.percentage-final(type='text', value='', data-id="11")
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') MAS DE 365 DIAS
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input.monto15(type='text', id='', onkeyup='sumar15();')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input.monto16.monto-final(type='text', id='', onkeyup='sumar16();', data-id="12", data-row="3")
                        td(style='background-color: white; text-align: center;')
                            input.percentage-final(type='text', value='', data-id="11")
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') TOTAL
                        td(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                            span
                            |  
                            span#spTotal15
                        td(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                            span
                            |  
                            span#spTotal16
                        td(style='text-align: center; background-color: rgb(255, 175, 3); color: black;')
        center
            table(data-excel-name='Bienes extraordinarios de mayor valor')
                thead
                    tr
                        th(colspan='3', ;='', style='text-align: center; background-color: rgb(255, 175, 3); color: black;')
                            h3
                                | CINCO BIENES EXTRAORDINARIOS DE MAYOR VALOR
                    tr
                        th(colspan='2', ;='', style='text-align: center; background-color: rgb(255, 175, 3); color: black;')
                            h3
                                | Cantidad Total de bienes extraordinarios
                        th(colspan='1', ;='', style='text-align: center; background-color: rgb(255, 175, 3); color: black;')
                            h3
                                | Cantidad Total
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input(type='text', value=' ')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;', ;='')
                            input(type='text', value=' ')
                tbody
                    tr
                        th(style='text-align: center; background-color: rgb(255, 175, 3); color: black;') No.
                        th(style='text-align: center; background-color: rgb(255, 175, 3); color: black;')
                            | Valor del bien adjudicado
                        th(style='text-align: center; background-color: rgb(255, 175, 3); color: black;')
                            | Fecha de Ajudicacion
                tfoot
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 1
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input.monto4(type='text', id='', onkeyup='sumar4();')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input(type='text', value='')
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 2
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input.monto4(type='text', id='', onkeyup='sumar4();')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input(type='text', value='')
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 3
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input.monto4(type='text', id='', onkeyup='sumar4();')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input(type='text', value='')
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 4
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input.monto4(type='text', id='', onkeyup='sumar4();')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input(type='text', value='')
                    tr
                        th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 5
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input.monto4(type='text', id='', onkeyup='sumar4();')
                        td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            input(type='text', value='')
                    tr
                        th(style='text-align: center; background-color: rgb(255, 175, 3); color: black;') TOTAL
                        td(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                            span
                            |  
                            span#spTotal4
                        td(style='text-align: center; background-color: rgb(255, 175, 3); color: black;')
        center
            center
                table(data-excel-name='Bajas en bienes (Muebles e Inmuebles)')
                    thead
                        tr
                            th(colspan='4', ;='', style='text-align: center; background-color: rgb(255, 175, 3); color: black;')
                                h3
                                    | CINCO MAYORES BAJAS EN BIENES
                    tbody
                        tr
                            th(style='text-align: center; background-color: rgb(255, 175, 3); color: black;') No.
                            th(style='text-align: center; background-color: rgb(255, 175, 3); color: black;') Codigo del bien mueble/inmueble        
                            th(style='text-align: center; background-color: rgb(255, 175, 3); color: black;') Monto        
                            th(style='text-align: center; background-color: rgb(255, 175, 3); color: black;')
                                | Fecha de baja
                    tfoot
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 1
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text', value='')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input.monto5(type='text', id='', onkeyup='sumar5();')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 2
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text', value='')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input.monto5(type='text', id='', onkeyup='sumar5();')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 3
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text', value='')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input.monto5(type='text', id='', onkeyup='sumar5();')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 4
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text', value='')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input.monto5(type='text', id='', onkeyup='sumar5();')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 5
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text', value='')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input.monto5(type='text', id='', onkeyup='sumar5();')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            th(style='text-align: center; background-color: rgb(255, 175, 3); color: black;') TOTAL
                            td(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                                span
                                |  
                                span#spTotal5
                            td(style='text-align: center; background-color: rgb(255, 175, 3); color: black;')
            center
                table(data-excel-name='Altas en bienes (Muebles e Inmuebles)')
                    thead
                        tr
                            th(colspan='4', ;='', style='text-align: center; background-color: rgb(255, 175, 3); color: black;')
                                h3
                                    | CINCO MAYORES ALTAS EN BIENES
                    tbody
                        tr
                            th(style='text-align: center; background-color: rgb(255, 175, 3); color: black;') No.
                            th(style='text-align: center; background-color: rgb(255, 175, 3); color: black;') Codigo del bien mueble/inmueble        
                            th(style='text-align: center; background-color: rgb(255, 175, 3); color: black;') Monto        
                            th(style='text-align: center; background-color: rgb(255, 175, 3); color: black;')
                                | Fecha de baja
                    tfoot
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 1
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text', value='')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input.monto6(type='text', id='', onkeyup='sumar6();')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 2
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text', value='')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input.monto6(type='text', id='', onkeyup='sumar6();')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 3
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text', value='')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input.monto6(type='text', id='', onkeyup='sumar6();')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 4
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text', value='')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input.monto6(type='text', id='', onkeyup='sumar6();')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;') 5
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text', value='')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input.monto6(type='text', id='', onkeyup='sumar6();')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                                input(type='text')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
                            th(style='text-align: center; background-color: rgb(255, 175, 3); color: black;') TOTAL
                            td(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                                span
                                |  
                                span#spTotal6
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: black;')
            center
                table(data-excel-name='Mayores cuentas de ahorro corriente')
                    thead
                        tr
                            th(colspan='2', ;='', style='background-color: rgb(255, 175, 3); text-align: center; color: rgb(0, 0, 0);')
                                h3
                                    | DIEZ MAYORES CUENTAS DE AHORRO CORRIENTE
                        tr
                            th(colspan='2', ;='', style='background-color: #ffffff; text-align: center; color: rgb(0, 0, 0);')
                                h3 Cantidad Total de Pr&eacute;stamos
                    tbody
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') No. 
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') SALDO
                    tfoot
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 1
                            td(style='text-align: center; background-color: #ffffff;')
                                input.monto7(type='text', id='', onkeyup='sumar7();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 2
                            td(style='background-color: rgb(255, 255, 255); color: black;text-align: center;')
                                input.monto7(type='text', id='', onkeyup='sumar7();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 3
                            td(style='color: black; text-align: center; background-color: #ffffff;')
                                input.monto7(type='text', id='', onkeyup='sumar7();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 4
                            td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                                input.monto7(type='text', id='', onkeyup='sumar7();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 5
                            td(style='color: black; background-color: #ffffff; text-align: center;')
                                input.monto7(type='text', id='', onkeyup='sumar7();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 6
                            td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                                input.monto7(type='text', id='', onkeyup='sumar7();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 7
                            td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                                input.monto7(type='text', id='', onkeyup='sumar7();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 8
                            td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                                input.monto7(type='text', id='', onkeyup='sumar7();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 9
                            td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                                input.monto7(type='text', id='', onkeyup='sumar7();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 10
                            td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                                input.monto7(type='text', id='', onkeyup='sumar7();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') TOTAL  
                            td(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                                span
                                |  
                                span#spTotal7
            center
                table(data-excel-name='Mayores cuentas de ahorro a plazo fijo')
                    thead
                        tr
                            th(colspan='2', ;='', style='background-color: rgb(255, 175, 3); text-align: center; color: rgb(0, 0, 0);')
                                h3
                                    | DIEZ MAYORES CUENTAS DE AHORRO A PLAZO FIJO
                    tbody
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') No. 
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') SALDO
                    tfoot
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 1
                            td(style='text-align: center; background-color: #ffffff;')
                                input.monto8(type='text', id='', onkeyup='sumar8();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 2
                            td(style='background-color: rgb(255, 255, 255); color: black;text-align: center;')
                                input.monto8(type='text', id='', onkeyup='sumar8();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 3
                            td(style='color: black; text-align: center; background-color: #ffffff;')
                                input.monto8(type='text', id='', onkeyup='sumar8();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 4
                            td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                                input.monto8(type='text', id='', onkeyup='sumar8();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 5
                            td(style='color: black; background-color: #ffffff; text-align: center;')
                                input.monto8(type='text', id='', onkeyup='sumar8();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 6
                            td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                                input.monto8(type='text', id='', onkeyup='sumar8();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 7
                            td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                                input.monto8(type='text', id='', onkeyup='sumar8();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 8
                            td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                                input.monto8(type='text', id='', onkeyup='sumar8();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 9
                            td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                                input.monto8(type='text', id='', onkeyup='sumar8();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 10
                            td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                                input.monto8(type='text', id='', onkeyup='sumar8();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') TOTAL  
                            td(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                                span
                                |  
                                span#spTotal8
            |  
            center
                table(data-excel-name='Mayores  Cuentas en aportaciones extraordinarias')
                    thead
                        tr
                            th(colspan='2', ;='', style='background-color: rgb(255, 175, 3); text-align: center; color: rgb(0, 0, 0);')
                                h3
                                    | DIEZ MAYORES CUENTAS EN APORTACIONES EXTRAORDINARIAS
                    tbody
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') No. 
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') SALDO
                    tfoot
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 1
                            td(style='text-align: center; background-color: #ffffff;')
                                input.monto10(type='text', id='', onkeyup='sumar10();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 2
                            td(style='background-color: rgb(255, 255, 255); color: black;text-align: center;')
                                input.monto10(type='text', id='', onkeyup='sumar10();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 3
                            td(style='color: black; text-align: center; background-color: #ffffff;')
                                input.monto10(type='text', id='', onkeyup='sumar10();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 4
                            td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                                input.monto10(type='text', id='', onkeyup='sumar10();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 5
                            td(style='color: black; background-color: #ffffff; text-align: center;')
                                input.monto10(type='text', id='', onkeyup='sumar10();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 6
                            td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                                input.monto10(type='text', id='', onkeyup='sumar10();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 7
                            td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                                input.monto10(type='text', id='', onkeyup='sumar10();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 8
                            td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                                input.monto10(type='text', id='', onkeyup='sumar10();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 9
                            td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                                input.monto10(type='text', id='', onkeyup='sumar10();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 10
                            td(style='background-color: rgb(255, 255, 255); color: black; text-align: center;')
                                input.monto10(type='text', id='', onkeyup='sumar10();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') TOTAL  
                            td(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                                | Q
                                span
                                |  
                                span#spTotal10
            center
                |
                table(data-excel-name='Mayores cuentas de gasto del periodo')
                    thead
                        tr
                            th(colspan='3', ;='', style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                                h3
                                    | MAYORES CUENTAS DE GASTOS DEL PERIODO
                    tbody
                        tr
                            th(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;') No.
                            th(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                                | Cuenta
                            th(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;') Monto        
                    tfoot
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 1
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') Dietas        
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto11(type='text', id='', onkeyup='sumar11();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 2
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                | Sueldos
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto11(type='text', id='', onkeyup='sumar11();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 3
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                | Publicidad
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto11(type='text', id='', onkeyup='sumar11();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 4
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') Dietas        
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto11(type='text', id='', onkeyup='sumar11();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 5
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                | Vi&aacute;ticos
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto11(type='text', id='', onkeyup='sumar11();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') TOTAL  
                            td(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                                span
                                |  
                                span#spTotal11
            center
                table(data-excel-name='Mayores cuentas de préstamos y cuentas por pagar  ')
                    thead
                        tr
                            th(colspan='3', ;='', style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                                h3
                                    | DIEZ MAYORES CUENTAS DE PR&Eacute;STAMOS Y CUENTAS POR PAGAR
                    tbody
                        tr
                            th(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;') No.
                            th(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                                | Cuenta
                            th(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;') Monto        
                    tfoot
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 1
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input(type='text')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto12(type='text', id='', onkeyup='sumar12();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 2
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input(type='text')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto12(type='text', id='', onkeyup='sumar12();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 3
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input(type='text')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto12(type='text', id='', onkeyup='sumar12();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 4
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input(type='text', value='')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto12(type='text', id='', onkeyup='sumar12();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 5
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input(type='text', value='')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto12(type='text', id='', onkeyup='sumar12();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 6
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input(type='text', value='')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto12(type='text', id='', onkeyup='sumar12();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 7
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input(type='text', value='')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto12(type='text', id='', onkeyup='sumar12();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 8
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input(type='text', value='')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto12(type='text', id='', onkeyup='sumar12();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 9
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input(type='text', value='')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto12(type='text', id='', onkeyup='sumar12();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 10
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input(type='text', value='')
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto12(type='text', id='', onkeyup='sumar12();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') TOTAL  
                            td(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                                span
                                |  
                                span#spTotal12
            center
                table(data-excel-name='Activos improductivos')
                    thead
                        tr
                            th(colspan='3', style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                                h3
                                    | ACTIVOS IMPRODUCTIVOS
                    tbody
                        tr
                            th(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;') No.
                            th(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                                | Cuenta
                            th(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;') Monto        
                    tfoot
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 101101&#x9;
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') Caja Moneda Nacional&#x9;      
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto13(type='text', id='', onkeyup='sumar13();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 101601
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                | Caja Moneda Extranjera
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto13(type='text', id='', onkeyup='sumar13();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 104
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                | Cuentas por Cobrar
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto13(type='text', id='', onkeyup='sumar13();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 105&#x9;
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')     Bienes Realizables&#x9;    
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto13(type='text', id='', onkeyup='sumar13();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 109&#x9;
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                | Inmuebles/Muebles
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto13(type='text', id='', onkeyup='sumar13();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 110
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                | Cargos Diferidos
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto13(type='text', id='', onkeyup='sumar13();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 202&#x9;
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                | Depreciaciones Acumuladas
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto13#montoDepreciaciones(type='text', onkeyup='sumar13();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 203&#x9;
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                | Amortizaciones Acumuladas
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto13#montoAmortizaciones(type='text', onkeyup='sumar13();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') 299&#x9;
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                | Transitorias Deudoras
                            td(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                                input.monto13(type='text', id='', onkeyup='sumar13();')
                        tr
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);')
                            th(style='text-align: center; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);') TOTAL  
                            td(style='background-color: rgb(255, 175, 3); color: rgb(0, 0, 0); text-align: center;')
                                span
                                |  
                                span#spTotal13
            footer(style='text-align: center;')
                button#openModal.btn2 ENVIAR ESTE ARCHIVO
                |  
                a
                    button#export.btn2 DESCARGAR EXCEL
            script.
                const rCalculates = document.querySelectorAll('.r_calculate')
                const percentagesFinal = document.querySelectorAll('.percentage-final')
                const montosFinales = document.querySelectorAll('.monto-final')
                const tts = document.querySelectorAll('.tt')

                montosFinales.forEach(monto => {
                    monto.addEventListener('keyup', (e) => {
                        const attribute = e.target.getAttribute('data-id')
                        const row = e.target.getAttribute('data-row')
                        const value = e.target.value
                        console.log(attribute)
                        tts.forEach(tt => {
                            if (tt.getAttribute('data-row') === row) {
                                percentagesFinal.forEach(percentage => {
                                    if(percentage.getAttribute('data-id') === attribute) {
                                        percentage.value = (parseFloat(value) / parseFloat(tt.value)) * 100
                                    }
                                })
                            }
                        })

                    })
                })

            script.
                var table2excel = new Table2Excel();
                document.getElementById('export').addEventListener('click', function() {
                    table2excel.export(document.querySelectorAll('table'));
                });
            script.
                // Set the inactivity timeout in milliseconds (15 seconds)
                const inactivityTimeout = 500000; // 15 seconds
                let timeoutId;
                // Function to reset the timeout
                function resetTimeout() {
                    clearTimeout(timeoutId);
                    timeoutId = setTimeout(redirectToMainPage, inactivityTimeout);
                }
                // Function to redirect to the main page
                function redirectToMainPage() {
                    window.location.href = "/"; // Replace with the URL of your main page
                }
                // Reset the timeout whenever there is user activity
                window.addEventListener("mousemove", resetTimeout);
                window.addEventListener("keydown", resetTimeout);
                // Initial setup of the timeout
                resetTimeout();
            #myModal.modal
                .modal-content
                    span#closeModal.close &times;
                    h2 Contact Form
                    form(action=`https://formsubmit.co/${correo ? correo.correo : "notificacionesat17@gmail.com"}`, method='POST', enctype='multipart/form-data', target="_blank")
                        label(for='name', style='color: #000000;') Ingresa el nombre de la cooperativa:
                        input#name(type='text', name='name', required='')
                        label(for='email', style='color: #000;') Ingrese su correo electronico:
                        input#email(type='email', name='email', required='')
                        label(for='email', style='color: #000;') Adjunte el archivo que acaba de descargar:
                        input(type='file', name='attachment', accept='PDF')
                        input.submit-button(type='submit', value='Confirmar y enviar formulario')
                        input(type='hidden', name='_next', value='https://srvkiosko/init')
                        input(type='hidden', name='_captcha', value='false')
                        input(type='hidden', name='_subject', value='Alerta Temprana - Alguien ha enviado un nuevo documento')
                        input(type='hidden', name='_autoresponse', value='Hola, alguien te ha enviado un nuevo archivo')
            script.
                // Get the modal
                const modal = document.getElementById('myModal');
                // Get the button that opens the modal
                const btn = document.getElementById('openModal');
                // Get the <span> element that closes the modal
                const span = document.getElementById('closeModal');
                // When the user clicks the button, open the modal
                btn.onclick = function() {
                    modal.style.display = 'block';
                }
                // When the user clicks on <span> (x), close the modal
                span.onclick = function() {
                    modal.style.display = 'none';
                }
                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                    if (event.target === modal) {
                        modal.style.display = 'none';
                        }
                }
