extends ../layout/admin.pug

block content
    // BEGIN MAIN CONTAINER
    #container.main-container.sidebar-closed.sbar-open
        // NAVBAR
        include ../components/navbar

        // BEGIN CONTENT AREA
        #content.main-content
            .layout-px-spacing
                .page-header
                    .page-title
                        h3 Panel Administrativo
                        a.btn.btn-info(href='#addadminModal' style='width: 400px; margin-top: 50px;' data-toggle='modal')
                            i.material-icons &#xE147;
                            span(style='font-size: 25px; color: #fff;') Agregar usuario nuevo
                .table-title.text-center
                    .row.text-center
                        .text-center(style='margin-top: 40px;')
                .widget-content.widget-content-area.br-6
                    .table-responsive.mb-4.mt-4
                        table#table1.table.table-hover.text-center(style='width:100%')
                            thead
                                tr
                                    th Nombre
                                    th Apellido
                                    th USUARIO
                                    th CORREO
                                    //th Acciones
                            tbody
                                each user in users
                                    tr 
                                        td=user.name
                                        td=user.surname
                                        td=user.user_id
                                        td=user.email
        // END CONTENT AREA

        // Add admin
        #addadminModal.modal.fade
            .modal-dialog
                .modal-content
                    form(method="POST")
                        .modal-header
                            h4.modal-title Agrega Usuario
                            button.close(type='button' data-dismiss='modal' aria-hidden='true')
                            | &times;
                        #add-form.modal-body
                            .col-sm-12
                                label Nombre 
                                input#admin-name.form-control.mb-4(type='text' placeholder='' required='', name="name")
                            .col-sm-12
                                .form-group
                                    label Apellido
                                    input#school-id.form-control.mb-4(type='text' placeholder='' required='', name="surname")
                            .col-sm-12
                                .form-group
                                    label ID de Usuario
                                    input#school-name.form-control.mb-4(type='text' placeholder='' required='', name="user_id")
                            .col-md-12
                                .form-group
                                    label Email
                                    input#signup-email.form-control.mb-4(type='email' placeholder='' required='', name="email")
                            .col-md-12
                                .form-group
                                    label Contrase&ntilde;a
                                    input#signup-password.form-control.mb-4(type='password' placeholder='' required='', name="password")
                            .col-md-12
                                .form-group
                                    label Admin Designation
                                    .form-group.mr-1
                                        select#designation.form-control(required='', name="role")
                                            option(value="sa") Super Admin
                                            option(value="a") Admin
                                            option(value="e") Editor
                        .modal-footer
                            input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
                            button.btn.btn-success(type='submit') Agregar

        #editadminModal.modal.fade
            .modal-dialog
                .modal-content
                    form
                        .modal-header
                            h4.modal-title Edit Admin
                            button.close(type='button' data-dismiss='modal' aria-hidden='true')
                            | &times;
                        .modal-body
                            .col-sm-12
                                label Nombre
                                input#admin-name.form-control.mb-4(type='text' placeholder='Admin Name' required='')
                            .col-sm-12
                                .form-group
                                    label Apellido
                                    input#school-id.form-control.mb-4(type='text' placeholder='School ID' required='')
                            .col-sm-12
                                .form-group
                                    label Usuario
                                    input#school-name.form-control.mb-4(type='text' placeholder='School Name' required='')
                            .col-md-12
                                .form-group
                                    label Correo
                                    input#signup-email.form-control.mb-4(type='email' placeholder="Admin's Email" required='')
                            .col-md-12
                                .form-group
                                    label Default Password
                                    input#signup-password.form-control.mb-4(type='password' placeholder='Default Password' required='')
                            .col-md-12
                                .form-group
                                    label Admin Designation
                                    .form-group.mr-1
                                        select#designation.form-control(required='')
                                            option Super Admin
                                            option Admin
                                            option Editor
                        .modal-footer
                            input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
                            input.btn.btn-info(type='submit' value='Save')

        #deleteadminModal.modal.fade
            .modal-dialog
                .modal-content
                    form
                        .modal-header
                            h4.modal-title Delete Admin
                            button.close(type='button' data-dismiss='modal' aria-hidden='true')
                            | &times;
                        .modal-body
                            p &iquest;Seguro que quiere eliminar los siguientes campos?
                            p.text-warning
                            small Esta acci&oacute;n no se puede revertir.
                        .modal-footer
                            input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
                            input.btn.btn-danger(type='submit' value='Delete')
    // END MAIN CONTAINER